{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true,
            "decorators": true
        },
        "transform": {
            "decoratorMetadata": true
        },
        "target": "es2020",
        "loose": true,
        "externalHelpers": false,
        // Requires v1.2.50 or upper and requires target to be es2016 or upper.
        "keepClassNames": true
    },
    "exclude": [
        "node_modules/"
    ],
    "module": {
        "type": "commonjs",
        "strict": false,
        "strictMode": false,
        "lazy": false,
        "noInterop": false
    },
    "sourceMaps":true,
    "minify": false
}